body {
  margin: 0;
  background-image: url("/bg-icon.png");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  text-align: center;
  margin: 0;
}

h1 {
  margin: 0;
}
